@charset "UTF-8";

body {
    font-family: Inria Serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    width: auto;
    height: 9.375rem;
    gap: 1.3125rem;
    background: #FFF;
    box-shadow: 0 0.375rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    margin: 0;
}

.icon {
    width: 9.375rem;
    height: 9.375rem;
}

.headText {
    color: #000;
    font-family: "Inria Serif";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bodys {
    display: flex;
    width: auto;
    height: auto;
    justify-content: start;
    align-items: stretch;
    align-content: flex-start;
    flex-wrap: wrap;
}

.inputFrame {
    display: flex;
    width: 50%;
    height: 54.625rem;
    padding-top: 2rem;
    flex-shrink: 0;
    justify-content: start;
    flex-direction: column;
}

.timetableform {
    display: table;
}

.textFrame {
    display: flex;
    justify-content: space-between;
    width: 650px;
    height: auto;
    align-items: center;
    padding-top: 1.5625rem;
    padding-right: 5rem;
    padding-left: 4rem;

}

.label {
    color: #000;
    font-family: "Inria Serif";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input {
    width: 16.25rem;
    height: 2.9375rem;
    padding-left: 16px;
    border-radius: 0.625rem;
    font-size: 1.50rem;
    

}

.button {
    width: 21.25rem;
    height: 6.25rem;
    border: none;
    border-radius: 1.25rem;
    background: #FF783F;
    margin-top: 5rem;
    margin-left: 11.25rem;
}

.buttonText {
    color: #FFF;
    font-family: "Inria Serif";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.outputFrame{
    display: flex;
    width: 50%;
    height: 54.625rem;
    flex-direction: column;
}

.outputText{
    color: #000;
    font-family: "Inria Serif";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 1.875rem;
    padding-left: 0.8125rem;
}

@media screen and (max-width: 1240px){
    .bodys {
        flex-direction: column;
    }
    .inputFrame {
        width: 100%;
        height: auto;
    }
    .outputFrame {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 720px){
    .header {
        width: 720px;
    }
}